DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=furima_46817_development
DB_TEST_DATABASE=furima_46817_test
# DB_SOCKET=/tmp/mysql.sock

BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=2222

PAYJP_PUBLIC_KEY=pk_test_xxxxx
PAYJP_SECRET_KEY=sk_test_xxxxx
